* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
main {
  width: 80%;
  margin: 0 auto;
}

.header-main {
  display: flex;
  gap: 10px;
  align-items: center;

  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  background-color: #0d1811b2;

  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;


  flex-wrap: wrap;
}

.essence-con {
  display: flex;
  flex: 1;
  gap: 8px;
  padding: 8px;

  align-items: center;
  margin-left: auto;
  flex-wrap: wrap;

  border: 2px solid black;
  border-radius: 10px;
}

.char-name {
  margin-left: 5%;
  font-family: "Helvetica", sans-serif;
  font-size: 140%;
  background-color: #2e4b395e;
  border: 2px solid black;
  border-radius: 5px;
}

.text-essence {
  margin-left: 1%;
  font-family: "Helvetica", sans-serif;
  font-size: 110%;
  background-color: #2e4b395e;
  border: 2px solid black;
  border-radius: 5px;
}

.build-con {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  
  gap: 5px;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0d1811b2;
}

.build_stats{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 5px;
  
}

.all-stats {
  display: flex;
  
  justify-content: center;
  gap: 10px;
  padding:  10px;
  flex-wrap: wrap;
}

.stats-skills-passive-con {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-flow: column;
  gap: 20px;
  

  width: fit-content;
}

.stat-con {
  width: 280px;
}

.stat-name {
  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;

  width: 276px;
  margin-bottom: 3px;
}

.ability-checks {
  display: flex;
  margin-bottom: 3px;
  gap: 2px;
}

.stat-check {
  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;

  width: 137px;
}

.stat-saving-throw {
  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;

  width: 137px;
}

.check-button {
}

.saving-throw-button {
}

.skill {
  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;

  width: 276px;
  margin-bottom: 1px;
}

.passive-other-con {
  
}

.passives {
  width: 280px;
  padding-bottom: 5px;
}

.passive-h {
  font-family: "Helvetica", sans-serif;

  width: 276px;
  margin-bottom: 1px;
}

.passive {
  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;

  width: 276px;
  margin-bottom: 1px;
}

.other-con {
  width: 280px;
}

.heading-other {
  font-family: "Helvetica", sans-serif;
}

.other-skills-languages {
  width: 276px;
  height: 424px;

  border: 2px solid black;
  border-radius: 5px;

  font-family: "Helvetica", sans-serif;
}

.sec_char_and_other{
  display: flex;
  align-items: start;
  
  padding: 10px;
  
}

.sec_char_and_other_column{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.secondary_characteristics {
  display: flex;

  width: 280px;

  border: 2px solid black;
  border-radius: 5px;
  
  align-items: center;
  padding: 0;
  
}

.pair_secondary_characteristics {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 170px;
  
  margin: 1px;
}

.sec_characteristic{
  display: flex;
  width: 80px;
  height: 60px;

  align-items: center;
  justify-content: center;
  
  margin: 2px;
  border: 2px solid black;
  border-radius: 5px;
}

.name_of_sec_characteristic{
  font-family: "Helvetica", sans-serif;
  font-size: 90%;
  text-align: center;
}

.character_hits{
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 280px;
  gap: 4px;
  padding: 7px;

  border: 2px solid black;
  border-radius: 5px;
}

.current_hits{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
    

  width: 264px;

  border: 2px solid black;
  border-radius: 5px;
    
  gap: 8px;
  padding: 3px;
}

.max_hits_con{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
      
  padding: 5px;
  gap: 5px;
}

.span_max_hits{
  font-family: "Helvetica", sans-serif;
  font-size: 90%;
  width: max-content;
}
      
.max_hits_value{
  text-align: center;

  width: 80px;
  height: 35px;
  background-color: #2e4b395e;
          
  border: none;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
          
}

.current_hits_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
     
  gap: 5px;
}

.current_temporary_hits_value{
  box-sizing: border-box;
  text-align: center;

  width: 90%;
  height: 40px;
  padding: 0;

  border: none;
  border-radius: 5px;
  background-color: #2e4b395e;

  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
        
}

.temporary_hits{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 264px;
  
  border: 2px solid black;
  border-radius: 5px;
  
  gap: 5px;
}

.temporary_hits_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
     
  gap: 5px;
  padding: 5px;
}

.span_current_temporary_hits{
  font-family: "Helvetica", sans-serif;
  font-size: 80%;
}

.other_hits_info{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;

  gap: 5px;
}

.hits_dice{
  width: 129px;
  height: 94px;
  border: 2px solid black;
  border-radius: 5px;
  
}
.total_number_of_hits{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
      
  padding: 5px;
  gap: 5px;
}

.span_total_number_of_hits{
  font-family: "Helvetica", sans-serif;
  font-size: 80%;
  width: max-content;
}

.total_number_of_hits_value{
  text-align: center;

  width: 70px;
  height: 20px;
  background-color: #2e4b395e;
          
  border: none;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
}

.value_of_dice_hits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  width: 100%;
  
  padding: 5px;
  gap: 5px;
}

.choice_value_of_dice_hits{
  text-align: center;

  width: 80%;
  height: 30px;
  background-color: #2e4b395e;
          
  border: none;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  font-size: 90%;
}

.span_value_of_dice_hits{
  font-family: "Helvetica", sans-serif;
  font-size: 80%;
}

.death_saving_throws{
  display: flex;
  flex-direction: column;
  width: 129px;
  height: 94px;
  border: 2px solid black;
  border-radius: 5px;
  gap: 2px;
  padding: 4px;
}

.success_failure_death_saving_throws{
  display: flex;
  
  width: 100%;
  align-items: center;
  justify-content: center;
      
  padding: 5px;
  gap: 5px;
}

.span_success_failure{
  font-family: "Helvetica", sans-serif;
  font-size: 80%;
  width: 50px;
}

.death_saving_throws_checkbox{
  accent-color: black;
  background-color: #2e4b395e;
}

.span_death_saving_throws{
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 80%;
}

.table_attacks_n_spells{
  width: 280px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 4px;
}

.theader_sell_name_or_damage{
  font-family: "Helvetica", sans-serif;
  font-size: 60%;
  background-color: #23382b5e;

  border: none;
  border-radius: 5px;

  width: 108px;
}
.theader_sell_bonus{
  font-family: "Helvetica", sans-serif;
  font-size: 60%;
  background-color: #23382b5e;

  border: none;
  border-radius: 5px;

  width: 50px;
}
.tbody_sell_name_or_damage{
  font-family: "Helvetica", sans-serif;
  font-size: 60%;
  
  height: 20px;
  width: 108px;
}
.tbody_sell_bonus{
  font-family: "Helvetica", sans-serif;
  font-size: 60%;
  
  height: 20px;
  width: 50px;
}

.tsell_input{
  width: 100%;
  height: 100%;
  
  text-align: center;

  font-family: "Helvetica", sans-serif;
  font-size: 90%;

  background-color: #2e4b395e;
  border-radius: 5px;
  border: none;
}